* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 58, 58);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_container {
    display: flex;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.num_convertido, .num_grados, .combo, .calcular {
    padding: 5px 10px;
    border-radius: 8px;
}

.calcular {
    background-color: blue;
    border: 1px solid blue;
    color: aliceblue;
    transition: .5s;
}

.calcular:hover {
    background-color: rgb(58, 58, 58);
    border: 1px solid black;
    cursor: pointer;
}